[master]
127.0.0.1

[client]
%{ for name, ip in worker_ips ~}
${name} ansible_host=${ip} ansible_user=root
%{ endfor ~}

[client:vars]
ansible_user=ansible
ansible_ssh_private_key_file=keys/client_key
ansible_ssh_common_args='-o StrictHostKeyChecking=no'